body{
    font-family : "Lucida Sans Unicode";
    background-color: yellow;
}

.General{
	position: absolute;
}

#Title{
	float: left;
}

#Connexion{
	float: right;
}

#Introduction{
	margin-top: 100px;
	text-align: justify-all;
}

#Credits{
	margin-top: 200px;
	text-align: center;
}