body{
	margin-left: 20px;
	margin-right: 20px;
}

img{
	width: 200px;
}

.global{
	position: relative;
}

#Connexion{
	float: right;
}

#Introduction{
	text-align: justify-all;
	text-align: center;
}

#Credits{
	text-align: center;
}