@font-face{
	font-family : "robot";
	src: url("./Data/Roboto-Medium.ttf");
}

@font-face{
	font-family : "rob";
	src: url("./Data/Roboto-Light.ttf");
}

body{
	margin-left: 20px;
	margin-right: 20px;
	background-image: url("./Fond.png");
	font-family: "robot";
}

img{
	width: 200px;
}

#introduction>h1{
	text-align: center;
}

.global{
	position: relative;
}

#connexion{
	float: right;
}

#introduction{
	text-align: justify-all;
	margin-left: 40px;
	margin-right: 40px;
	font-family: "rob";
}

#credits{
	text-align: center;
}

.panel{
	padding: 10px;
	line-height: 30px;
	position: absolute;
	left: 33%;
	top: 40%;
	width: 500px;
	border: 1px solid black;
	border-radius: 10px;
}